html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    color: #333;
    margin: 0;
}

#main {

}

#title {

}


.quote {

}

.reference {

}

#tribute-info {
display: flex;
flex-direction: row;
width: 100vw;
}

.left {
    display: flex;
    width: 50%;
    padding: 3%;
    text-align: left;
}

.right {
    display: flex;
    width: 50%;
    padding: 3%;
}

#right {
    list-style: none;
}