@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100;200;300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

html {
  margin: 0;
  padding: 0;
}

body {
  background-color:rgb(225,225,225);
  padding: 0;
  margin: 0;
}

.top {
  display: flex;
  flex-direction: column;
  height: 200px;
  box-sizing: border-box;
}

#header {
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 1;
  background-color: lightgray;
  width: 100vw;
  height: 100px;
  box-sizing: border-box
}


.fixed-helper {
  height: 100px;
}

.title {
  align-items: center;
  padding-right: 370px;
  display: flex;
  margin: auto;
  
}

#header-img {
  display:inline-block;
}

h1 {
    font-family:'Josefin Slab';
}

h3 {
  margin-bottom: -18px;
  font-size: 22px;
  font-family: 'Outfit';
  font-weight: 600;
}

.page-title {
  display: inline-block;
}

ul > li{
  list-style: none;
  display: inline-block;
  max-height: 100px;
  white-space: nowrap;
}

li {
  margin: 33px;
  white-space: nowrap;
}

.get-started2 {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  height: 200px;
}

a {
  text-decoration: none;
  color: black;
}

#submit {
  display: block;
  background-color: rgb(255, 204, 0);
  gap: 10px;
  border: none;
  color: black;
  font-size: 16px;
  width: 150px;
  height: 30px;
  font-weight: 900;
  font-type: arial;
  margin: auto;
}

.body {
  display: flex;
  flex-direction: column;
}

.three-text{
  display:flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 150px;
  margin: auto;
  height: 104px;
}

.text {
}

.h3 {
  bottom-margin: -12px;
}

#flame {
  transform: scale(.5);
}

#truck {
  margin-left: 105px;
  margin-top: 15px;
}

#light {
  transform: scale(.6);
    margin-left: 95px;
}

.video {
  margin: auto;
}

.three-bones {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  padding-right: 140px;
  padding-left: 140px;
}

.tenor, .bass, .valve {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  height: 313px;
  width: 311px;
  border-radius: 4px
}

.instrument {
  display: flex;
  background-color: rgb(205, 205, 205);
  text-align: center;
  font-family: arial;
  height: 15%;
  font-weight: bold;
}

.name {
  background-color: rgb(205, 205, 205);
  margin: auto;
  height:20px;
  width: 250px;
}

.description {
  text-align: center;
}

.price {
  line-height: 1.5;
  font-weight: bold;
  font-size: 20px;
}

footer {
  height: 70px;
  width:100vw;
  padding-bottom: 0;
}

.footer {
  background-color: rgb(205, 205, 205);
  height: 90px;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
}


.last-list {
  display: flex;
  margin-left: 75%;
}

.last-item {
  margin: 9px;
  margin-bottom: -9px;
}

.copyright {
  margin-left: 75%;
  color:rgb(75, 75, 75);
}